@font-face {
  font-family: 'Currency-icon';
  src:  url('fonts/Currency-icon.eot?k01eyq');
  src:  url('fonts/Currency-icon.eot?k01eyq#iefix') format('embedded-opentype'),
    url('fonts/Currency-icon.ttf?k01eyq') format('truetype'),
    url('fonts/Currency-icon.woff?k01eyq') format('woff'),
    url('fonts/Currency-icon.svg?k01eyq#Currency-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.sf {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Currency-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bdt-rounded-open:before {
  content: "\e906";
}
.bdt-two-open:before {
  content: "\e903";
}
.bdt-rounded-close .path1:before {
  content: "\e907";
  color: rgb(0, 0, 0);
}
.bdt-rounded-close .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bdt-three-close:before {
  content: "\e900";
}
.bdt-three-open:before {
  content: "\e901";
}
.bdt-one-open:before {
  content: "\e902";
}
.bdt-two-close:before {
  content: "\e904";
}
.bdt-one-close:before {
  content: "\e905";
}
