@font-face {
  font-family: "currency-icon";
  src: url("fonts/currency-icon.eot?fdpzd2");
  src: url("fonts/currency-icon.eot?fdpzd2#iefix") format("embedded-opentype"),
    url("fonts/currency-icon.ttf?fdpzd2") format("truetype"),
    url("fonts/currency-icon.woff?fdpzd2") format("woff"),
    url("fonts/currency-icon.svg?fdpzd2#currency-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.sf {
  font-family: "currency-icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bdt-rounded-thin:before {
  content: "\e908";
}
.bdt-rounded-close:before {
  content: "\e907";
}
.bdt-rounded-open:before {
  content: "\e906";
}
.bdt-two-open:before {
  content: "\e903";
}
.bdt-three-close:before {
  content: "\e900";
}
.bdt-three-open:before {
  content: "\e901";
}
.bdt-one-open:before {
  content: "\e902";
}
.bdt-two-close:before {
  content: "\e904";
}
.bdt-one-close:before {
  content: "\e905";
}
