$icomoon-font-family: "currency-icon" !default;
$icomoon-font-path: "fonts" !default;

$bdt-rounded-thin: "\e908";
$bdt-rounded-close: "\e907";
$bdt-rounded-open: "\e906";
$bdt-two-open: "\e903";
$bdt-three-close: "\e900";
$bdt-three-open: "\e901";
$bdt-one-open: "\e902";
$bdt-two-close: "\e904";
$bdt-one-close: "\e905";

